<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-93599017-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-93599017-2');
    </script>

    <link href="resources/css/how-to-build-a-gundam.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300i|Dosis:200|Exo:600i|Nobile:400i|Timmana&display=swap"
        rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to build a Gundam</title>
</head>


<!-- Logo & Nav -->

<header>
    <div class="logo"><img src="/resources/images/how-to-build-a-gundam/mobile-suit-gundam.png"></div>
</header>


<body>

    <section>
        <article>

            <div class="nav">

                <div id="left-block">
                    <div class="top"><img src="/resources/images/how-to-build-a-gundam/5Dh7rb6HB0A.jpg"></div>
                    <div class="bottom">
                        <div class="bottom-left"><img
                                src="/resources/images/how-to-build-a-gundam/gundam-seed-freedom.png"></div>
                        <div class="bottom-right"><img src="/resources/images/how-to-build-a-gundam/tools.jpeg"></div>
                    </div>
                </div>

                <div id="right-block">
                    <div class="left"><img src="/resources/images/how-to-build-a-gundam/VvgZ7ZfV.jpg"></div>
                    <!--<div class="centre"><img src="/resources/images/how-to-build-a-gundam/5Dh7rb6HB0A.jpg"></div>-->
                    <div class="right">
                        <div class="top"><img src="/resources/images/how-to-build-a-gundam/gunpla-boxes.jpg"></div>
                        <div class="bottom"><img
                                src="/resources/images/how-to-build-a-gundam/Unicorn_Regular_Box_Art.jpg"></div>
                    </div>
                </div>

            </div>

        </article>
    </section>

    {{ content }}

</body>

<footer>
    <a href="https://clairevanblerck.com/">See my portfolio</a>
</footer>

</html>