  <!-- Logo & Nav -->
  <header>
    <nav>
      <a href="https://clairevanblerck.com/plog/" class="logo">plog</a>
      <!-- Navigation links (hidden by default) -->
      <div id="myLinks">
        <a href="https://clairevanblerck.com/plog/blog">Blog</a>
        <a href="https://clairevanblerck.com/plog/care-tips">Care tips</a>
        <a href="https://clairevanblerck.com/plog/about">About</a>
        <a href="https://www.instagram.com/plants_pleaz/">Instagram</a>
      </div>
      <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </nav>
  </header>