* {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

nav li {
    list-style: none;
}

header {
    
}

table {
    border: 1px solid black;
}


#menu-outer {
	height: 84px;
	background: url(images/bar-bg.jpg) repeat-x;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
	ul#horizontal-list li {
		display: inline;
	}