/*
OUTSIDE IN
1. Layout for CSS Layout Properties (position, float, clear, display)
2. Box Model Properties (width, height, margin, padding)
3. Visual Properties (color, background, border, box-shadow)
4. Typography Properties (font-size, font-family, text-align, text-transform)
5. Misc Properties (cursor, overflow, z-index)
*/

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    color: rgb(255, 255, 255);
    /*border: 1px red solid;*/
    background-color: rgb(58, 67, 75);

    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

h1 {
    padding: 1.5rem 0 2rem 0;

    font-size: 5rem;
    line-height: 1.2;
}

h2 {
    padding: 1.5rem 0 2rem 0;

    font-size: 3.2rem;
    line-height: 1.2;
}

h3 {
    padding: 1.5rem 0;

    font-size: 2.5rem;
    line-height: 1.2;
}

h4 {
    padding: 1.5rem 0 2rem 0;

    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.5;
}

h5 {
    padding: 1rem 0 1.25rem 0;

    font-size: 1.7rem;
    font-weight: 300;
    line-height: 2;
}

h6 {
    padding: 1rem;

    font-size: 1.2rem;
}

p { 
    font-size: 1.2rem;
}

a {
    font-size: 1.2rem;
}

li {
    font-family: Raleway, Roboto, san-serif;
}



/* Portfolio  & CV page */
section .text-panel {
    min-width: 100vw;
    min-height: 80vh;
    padding: 2rem;
}

section footer {
    min-width: 100vw;
    min-height: 15rem;
}

/* Portfolio page */
section .header {
    min-width: 100vw;
    min-height: 100vh;
    padding: 2rem;
}

/* CV page */
section .experience,.qualifications {
    min-width: 100vw;
    min-height: 55vh;
    padding-top: 3rem;
}



/* Portfolio page - Header section */

/* Nav */

.header {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
}

nav {
    margin: 3rem auto;
}

nav li {
    height: 2rem;
    margin: 1.5rem;

    list-style-type: none;
}

nav li a {
    text-decoration: none;
}

nav p {
    padding: 0.4rem;
    width: 10rem;

    background-color: rgb(0, 0, 0);
    outline: 1px solid white;
    opacity: 0.5;
    transition-property: all;
    transition-duration: 0.4s;
}

nav p:hover {
    opacity: 1;
    outline: 1px solid rgb(240, 188, 60);
}

.header .text-item {
    padding: 2rem 0 3rem 0;

    text-align: center;
    line-height: 2rem;
}

.header .text-item h1 {
    font-size: 7rem;
}



/* Portfolio page - Portfolio section */

.portfolio-panel ul {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-panel li {
    width: 49%;
    height: 60vh;
    margin: 0.3rem;

    list-style: none;

    overflow: hidden;
}

.portfolio-panel li:last-child {
    width: 0vw;
    height: 0vh;
}

.portfolio-item {
    position: relative;

    outline: 1px solid rgb(255, 255, 255);
}

.portfolio-item img {
    object-fit: cover;

    width: 49vw;
    height: 60vh;
}

.portfolio-item a {
    text-decoration: none;
}

.portfolio-item .portfolio-item-text {
    width: 49vw;
    height: 60vh;
    position: absolute;

    bottom: -18rem;
    transition-property: bottom;
    transition-duration: 0.4s;

    background-color: rgb(0, 0, 0, 0.7);

    overflow: hidden;
}

.portfolio-item .portfolio-item-text h3, .portfolio-item .portfolio-item-text h4, .portfolio-item .portfolio-item-text p, .portfolio-item .portfolio-item-text a {
    padding: 0.5rem;

    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);

}

.portfolio-item .portfolio-item-text h3 {
    font-size: 3rem;
    line-height: 3.2;
}

.portfolio-item .portfolio-item-text h4 {
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 2;
}

.portfolio-item .portfolio-item-text p a {
    text-decoration: underline;
}

.portfolio-panel li:hover .portfolio-item-text {
    bottom: 0rem;
}



/* Portfolio page - CV section, and CV page */

.text-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-panel .text-item {
    width: 80vw;

    line-height: 2.5rem;
}

.text-panel .text-item p {
    padding: 1rem 0;
}



/* Portfolio page & CV Page - Skill set */

.skill-set ul {
    padding: 0.5rem;
    padding-bottom: 2rem;

    list-style-type: none;
}

.skill-set li {
    display: inline-flex;

    padding: 0.5rem 1.5rem;
    margin: 0.3rem 0.1rem;

    border: 1px rgb(255, 255, 255) solid;

    font-size: 0.9rem;
}

li.orange  {
    background-color: rgb(240, 188, 60);
    color: rgb(0, 0, 0);
}

li.grey {
    background-color: rgb(167, 175, 187);
    color: rgb(0, 0, 0);
}



/* CV page */

.experience {
    background-color: rgb(94, 94, 114);
}

.experience h2 {
    background-color: rgb(94, 94, 114);
}

.experience ol {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));

    background-color: rgb(94, 94, 114);
    
    list-style-type: none;
}

.experience .job-item {
    padding: 2rem;

    background-color: rgb(94, 94, 114);
}

.experience .job-item h3, .experience .job-item h4, .experience .job-item h5, .experience .job-item p, .experience .job-item li, .experience .job-item a {
    background-color: rgb(94, 94, 114);
}

.experience .job-item a {
    font-size: 1rem;
    text-decoration: none;
}

.experience .job-item ul {
    background-color: rgb(94, 94, 114);
}

.experience .job-item ul, .qualifications .edu-item ul {
    padding: 2rem 4rem;
}

.experience .job-item li, .qualifications .edu-item li {
    list-style-type: disc;
    text-align: left;
}

.qualifications ol {
    display: grid;
    grid-template-columns: 33.3vw 33.3vw 33.3vw;

    list-style-type: none;
}

.qualifications .edu-item {
    padding: 2rem;
}



/* Footer */

footer {
    display: block;

    margin: 0;
    padding: 3rem 1rem 1rem 1rem;

    background-color: black;
}

footer h2 {
    padding: 2rem 0 1.5rem 0;

    background-color: black;
}

footer .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;
}

footer .social-icons i.fa.fa-linkedin {
    padding: 2rem;

    font-size: 3rem;

    background-color: black;
}

footer .social-icons p.email {
    background-color: black;
}

footer .social-icons .email a {
    padding: 2rem;

    background-color: black;

    font-size: 1.25rem;
    font-weight: 500;
    text-decoration: none;
}

footer .social-icons i.fa.fa-github {
    padding: 2rem;

    background-color: black;

    font-size: 3.75rem;
}



/* Media Queries */

/* To do: Add horizontal media queries */

/*
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media only screen and (max-width: 1025px) {

    /* Portfolio page - Portfolio section */
    .portfolio-panel li {
        height: 70vh;
    }

    .portfolio-item img {
        height: 70vh;

        transition-duration: 0s;
    }
    
    .portfolio-item .portfolio-item-text {
        height: 70vh;

        font-size: 2.5rem;
    }

    /* CV page */
    .qualifications ol {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}


@media only screen and (max-width: 990px) {

    /* Portfolio page - Portfolio section */
    .portfolio-item .portfolio-item-text h3 {
        font-size: 2.6rem;
    }

    .portfolio-item .portfolio-item-text h4 {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 870px) {

    /* Portfolio page - Portfolio section */
    .portfolio-item .portfolio-item-text h3 {
        font-size: 2.4rem;
    }

    .portfolio-item .portfolio-item-text h4 {
        font-size: 1.3rem;
    }
}


@media only screen and (max-width: 799px) {

    /* Portfolio page - Portfolio section */
    .portfolio-panel ul {
        display: flex;
    }

    .portfolio-panel li {
        width: 98vw;
    }

    .portfolio-item img {
        width: 98vw;
    }

    .portfolio-item .portfolio-item-text {
        width: 98vw;
    }

    .portfolio-item .portfolio-item-text h3 {
        font-size: 3rem;
    }

    .portfolio-item .portfolio-item-text h4 {
        font-size: 1.5rem;
    }
}


@media only screen and (max-width: 570px) {

    /* Footer */
    footer .social-icons {
        display: block;
    }

    footer .social-icons i.fa.fa-linkedin {
        padding: 1rem;

        font-size: 2rem;
    }

    footer .social-icons .email a {
        padding: 1rem;

        font-size: 1rem;
    }

    footer .social-icons i.fa.fa-github {
        padding: 1rem;

        font-size: 2rem;
    }
}


@media only screen and (max-width: 500px) {

    /* Portfolio page - Portfolio section */
    .portfolio-item .portfolio-item-text h3 {
        font-size: 2.4rem;
    }

    .portfolio-item .portfolio-item-text h4 {
        font-size: 1.3rem;
    }
}


@media only screen and (max-width: 480px) {

    /* Portfolio page - Header section */
    section .header, .text-panel {
        padding: 1rem 2rem;
    }

    .header .text-item {
        padding: 0 0 1rem 0;
    }
}

@media only screen and (max-width: 431px) {

    /* Footer */
    footer h2 {
        font-size: 2rem;
    }
}


@media only screen and (max-width: 417px) {

    /* Portfolio page - Portfolio section */
    .portfolio-item .portfolio-item-text {
        height: 57vh;
    }

    .portfolio-item .portfolio-item-text h3 {
        font-size: 2.2rem;
    }

    .portfolio-item .portfolio-item-text h4 {
        font-size: 1.2rem;
    }
}


@media only screen and (max-width: 375px) {

    /* Portfolio page - Header section */
    .header .text-item h1 {
        font-size: 6rem;
    }

    nav {
        margin: 0 auto 3rem;
    }

    nav li {
        margin: 1rem;
    }

    /* Portfolio page - Portfolio section */
    .portfolio-item .portfolio-item-text {
        height: 400px; /* listing as vh causes problems between iPhone 6 and iPhone X */
    }

    /* Footer */
    footer {
        padding: 0;
    }
}

@media only screen and (max-width: 368px) {

    /* Portfolio page - Portfolio section */
    .portfolio-item .portfolio-item-text h3 {
        font-size: 2.1rem;
    }

    .portfolio-item .portfolio-item-text h4 {
        font-size: 1.1rem;
    }

    /* CV page */
    .experience ol {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

@media only screen and (max-width: 353px) {

    /* Portfolio page - Portfolio section */
    .portfolio-item .portfolio-item-text h3 {
        font-size: 2rem;
    }

    .portfolio-item .portfolio-item-text h4 {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 320px) {

    /* Portfolio page - Header section */
    .header .text-item h1 {
        font-size: 3rem;
    }
    

    /* Portfolio page - Portfolio section */
    .portfolio-item .portfolio-item-text {
        height: 380px;
    }

    .portfolio-item .portfolio-item-text h3 {
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 260px) {

    /* Footer */
    footer .social-icons .email a {
        padding: 0.8rem;

        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 200px) {

    /* Footer */
    footer .social-icons .email a {
        display: none;
    }
}