/* 
Notes from 5 March 2020:
change plants blog to "pl(ants bl)og"
"div.grid-image-panel should be an <a> tag" - dan 
image dims removed from image tags = bad for loading?
*/


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: black;
    text-align: center;
}

h1 {
    font-size: 5rem;
    line-height: 1.2;
    padding: 1.5rem 0 2rem 0;
}

h2 {
    font-size: 2.9rem;
    line-height: 1.2;
    padding: 1.5rem 0 2rem 0;
}

h3 {
    font-size: 2.5rem;
    line-height: 1.2;
    padding: 1.5rem 0;
}

h4 {
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.5;
    padding: 1.5rem 0 2rem 0;
}

h5 {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5;
    padding: 1rem 0 1.25rem 0;
}

p { 
    font-size: 1.2rem;
}

a {
    font-size: 1.2rem;
}

section .image-and-text-panel,.text-panel {
    min-height: 100vh;
    min-width: 100vw;
    padding: 2rem;
}

section .image-grid-panel {
    min-height: 50vh;
    min-width: 100vw;
}

section .social-panel {
    min-height: 15rem;
    min-width: 100vw;
}


/* About section */

.image-and-text-panel {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 10rem 2rem 2rem 2rem;
}

.image-and-text-panel img {
    max-height: 8rem;
    width: auto;
    padding: 1rem;
}

.image-and-text-panel .text-item {
    text-align: center;
    line-height: 2rem;
    padding: 2rem 0 3rem 0;
}


/* Navigation */

.table {
    display: table;
    margin: 0 auto;
}

.table ul {
    list-style-type: none;
}

.table li {
    padding: 0 3rem;
    display: inline;
    font-size: 1.2rem;
}


/* Portfolio section */

h3.portfolio-heading {
    padding: 1.5rem 1rem;
}

.portfolio ul {
    display: inline-flex;
    flex-wrap: nowrap;
}

.portfolio li {
    list-style: none;
    width: 50vw;
    height: 90vh;
    overflow: hidden;
    background-color: black;
}

.portfolio li:last-child {
    width: 0vw;
    height: 0vh;
    background: white;
}

.portfolio-item img {
    width: 50vw;
    height: 90vh;
    opacity: 0.6;
    object-fit: cover;
    z-index: 1;
}

.portfolio-item a {
    text-decoration: none;
}

p.portfolio-item-text {
    font-size: 3rem;
    line-height: 9rem;
    color: white;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    height: fit-content;
    width: 50vw;
    z-index: 10;
    padding: 0.5rem;
}

p.left {
    top: 150vh;
    left: 0;
    bottom: 0;
    right: 0;
}

p.right {
    top: 150vh;
    left: 50vw;
    bottom: 0;
    right: 0;
}

.portfolio-item:hover img {
    transition-duration: 1.4s;
    opacity: 1;
}

.portfolio-item:hover p {
    transition-duration: 0.8s;
    opacity: 0.7;
}



/* CV section */

.text-panel {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.text-panel img {
    height: auto;
    width: auto;
    padding: 2rem;
}

.text-panel .text-item {
    float: left;
    line-height: 2.5rem;
}

.text-panel .text-item p {
    padding: 1rem 0;
}



/* Contact section */

.social-panel {

    display: block;
    margin: 0;
    padding: 3rem 1rem 1rem 1rem;
    background-color: black;
}

.social-panel .footer-heading {
    display: inline;
    font-size: 3rem;
    color:white;
}

.social-panel .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-panel .social-icons i.fa.fa-linkedin {
    font-size: 3rem;
    color:white;
    padding: 2rem;
}

.social-panel .social-icons .email a {
    font-size: 1.25rem;
    font-weight: 500;
    color:white;
    text-decoration: none;
    padding: 2rem;
}

.social-panel .social-icons i.fa.fa-github {
    font-size: 3.75rem;
    color:white;
    padding: 2rem;
}



/* Media Queries */


/*
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media only screen and (max-width: 1025px) {

    /* Portfolio section */

    .portfolio li {
        height: 70vh;
    }

    .portfolio-item img {
        height: 70vh;
        opacity: 0.8;
    }
    
    p.portfolio-item-text {
        font-size: 2.8rem;
        opacity: 0.7;
        height: fit-content;
        line-height: normal;
        padding: 2rem 1rem;
    }

    p.left {
        top: 140vh;
    }
    
    p.right {
        top: 140vh;
    }

    .portfolio-item:hover img {
        transition-duration: 1s;
        opacity: 0.8;
    }
    
    .portfolio-item:hover p {
        transition-duration: 0s;
    }
}


@media only screen and (max-width: 767px) {

    /* Portfolio section */

    .portfolio ul {
        display: block;
    }

    .portfolio li {
        width: 100vw;
    }

    .portfolio img {
        width: 100vw;
    }

    p.portfolio-item-text {
        font-size: 2.5rem;
        width: 100vw;
    }

    p.left {
        top: 138vh;
    }

    p.right {
        top: 209vh;
        left: 0;
        bottom: 0;
        right: 0;
    }
}


@media only screen and (max-width: 570px) {

    /* Contact section */

  .social-panel .social-icons {
      display: block;
  }

  .social-panel .social-icons i.fa.fa-linkedin {
      font-size: 2rem;
      padding: 1rem;
  }

  .social-panel .social-icons .email a {
      font-size: 1rem;
      padding: 1rem;
  }

  .social-panel .social-icons i.fa.fa-github {
      font-size: 2rem;
      padding: 1rem;
  }
}


@media only screen and (max-width: 480px) {

    /* About section */

    section .image-and-text-panel, .text-panel {
        padding: 1rem 2rem;
    }

    .image-and-text-panel .text-item {
        padding: 0 0 2rem 0;
    }

    .image-and-text-panel img {
        padding: 0rem;
    }
}

@media only screen and (max-width: 464px) {

    /* Portfolio secion */

    p.portfolio-item-text {
        font-size: 2.5rem;
    }

    p.left {
        top: 140vh;
    }

    p.right {
        top: 218vh;
    }
}

@media only screen and (max-width: 416px) {

    /* Portfolio section */

    p.portfolio-item-text {
        font-size: 2.5rem;
    }

    p.left {
        top: 145vh;
    }

    p.right {
        top: 218vh;
    }


    /* Contact section */

    .social-panel .footer-heading {
        font-size: 2rem;
    }
}


@media only screen and (max-width: 350px) {

    /* Portfolio section */

    p.portfolio-item-text {
        font-size: 2.2rem;
    }

    p.left {
        top: 150vh;
    }

    p.right {
        top: 225vh;
    }
}