* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: black;
    text-align: center;
}

h1 {
    font-size: 5rem;
    line-height: 1.2;
    padding: 1.5rem 0 2rem 0;
}

h2 {
    font-size: 2.9rem;
    line-height: 1.2;
    padding: 1.5rem 0 2rem 0;
}

h3 {
    font-size: 2.5rem;
    line-height: 1.2;
    padding: 1.5rem 0;
}

h4 {
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.5;
    padding: 1.5rem 0 2rem 0;
}

h5 {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5;
    padding: 1rem 0 1.25rem 0;
}

p { 
    font-size: 1.2rem;
}

a {
    font-size: 1.2rem;
}

section .image-and-text-panel,.text-panel {
    min-height: 100vh;
    min-width: 100vw;
}

section .image-grid-panel {
    min-height: 50vh;
    min-width: 100vw;
}

section .social-panel {
    min-height: 15rem;
    min-width: 100vw;
}


/* About section */

.image-and-text-panel {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 10rem 2rem 2rem 2rem;
}

.image-and-text-panel img {
    height: 10rem;
    width: auto;
    padding: 1rem;
}

.image-and-text-panel .text-item {
    text-align: center;
    line-height: 2rem;
    padding: 2rem 0 4rem 0;
}


/* Navigation */

.table {
    display: table;
    margin: 0 auto;
}

.table ul {
    list-style-type: none;
}

.table li {
    padding: 0 3rem;
    display: inline;
    font-size: 1.2rem;
}


/* Portfolio section */

.image-grid-panel {
    display: inline-flex;
    overflow: hidden;
    vertical-align: middle;
}

.image-grid-panel ul {
    display: inline-flex;
    flex-wrap: nowrap;
}

.image-grid-panel li {
    list-style: none;
    max-width: 33.3%;
    min-width: 33.3%;
    min-height: 200px;
    max-height: 600px;
    overflow: hidden;
    object-fit: cover;
    vertical-align: bottom;
    background-position: center;
    background-size: cover;
    flex-grow: 100;
    background: black;
}

.image-grid-panel li:last-child {
    list-style: none;
    max-width: 33.3%;
    min-width: 33.3%;
    min-height: 200px;
    max-height: 600px;
    overflow: hidden;
    object-fit: cover;
    vertical-align: bottom;
    background-position: center;
    background-size: cover;
    flex-grow: 100;
    background: white;
}

.image-grid-panel img {
    min-height: 900px;
    max-height: 100%;
    min-width: 50px;
    max-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    background: black;
    opacity: 0.4;
    transition-duration: 0.5s;

}

.image-grid-panel a {
    background-color: white;
    color: black;
    opacity: 0.5;
    text-decoration: none;
    font-size: 2rem;
    line-height: 1.5;
    position: sticky;
    top: 2.5rem;
    left: 1rem;
    right: 1rem;
    bottom: 17rem;
    padding: 0.3rem;
}

.grid-item:hover img {
    opacity: 1;
}
.grid-item:hover a {
    opacity: 0.8;
}


/* CV section */

.text-panel {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.text-panel img {
    height: auto;
    width: auto;
    padding: 2rem;
}

.text-panel .text-item {
    float: left;
    line-height: 2.5rem;
    padding: 0 4rem;
}

.text-panel .text-item p {
    padding: 1rem 0;
}


/* Contact section */

.social-panel {

    display: block;
    margin: 0;
    padding: 3rem 1rem 1rem 1rem;
    background-color: black;
}

.social-panel .footer-heading {
    display: inline;
    font-size: 3rem;
    color:white;
}

.social-panel .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-panel .social-icons i.fa.fa-linkedin {
    font-size: 3rem;
    color:white;
    padding: 2rem;
}

.social-panel .social-icons .email a {
    font-size: 1.25rem;
    font-weight: 500;
    color:white;
    text-decoration: none;
    padding: 2rem;
}

.social-panel .social-icons i.fa.fa-github {
    font-size: 3.75rem;
    color:white;
    padding: 2rem;
}



/* Media Queries */

@media only screen and (max-width: 570px) {

    /* Contact section */

  .social-panel .social-icons {
    display: block;
  }

  .social-panel .social-icons i.fa.fa-linkedin {
    font-size: 2rem;
    padding: 1rem;
  }

  .social-panel .social-icons .email a {
    font-size: 1rem;
    padding: 1rem;
  }

  .social-panel .social-icons i.fa.fa-github {
    font-size: 2rem;
    padding: 1rem;
  }

}