/*
OUTSIDE IN
1. Layout for CSS Layout Properties (position, float, clear, display)
2. Box Model Properties (width, height, margin, padding)
3. Visual Properties (color, background, border, box-shadow)
4. Typography Properties (font-size, font-family, text-align, text-transform)
5. Misc Properties (cursor, overflow, z-index)
*/

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    color: rgb(0, 0, 0);
    /*border: 1px red solid;*/

    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

h1 {
    padding: 1.5rem 0 2rem 0;

    font-size: 5rem;
    line-height: 1.2;
}

h2 {
    padding: 1.5rem 0 2rem 0;

    font-size: 3.2rem;
    line-height: 1.2;
}

h3 {
    padding: 1.5rem 0;

    font-size: 2.5rem;
    line-height: 1.2;
}

h4 {
    padding: 1.5rem 0 2rem 0;

    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.5;
}

h5 {
    padding: 1rem 0 1.25rem 0;

    font-size: 1.7rem;
    font-weight: 300;
    line-height: 2;
}

h6 {
    padding: 1rem;

    font-size: 1.2rem;
}

p { 
    font-size: 1.2rem;
}

a {
    font-size: 1.2rem;
}

li {
    font-family: Raleway, Roboto, san-serif;
}



/* Portfolio  & CV page */
section .text-panel {
    min-width: 100vw;
    min-height: 100vh;
    padding: 2rem;
}

section footer {
    min-width: 100vw;
    min-height: 15rem;
}

/* Portfolio page */
section .image-and-text-panel {
    min-width: 100vw;
    min-height: 100vh;
    padding: 2rem;
}

/* CV page */
section .experience,.qualifications {
    min-width: 100vw;
    min-height: 55vh;
    padding-top: 3rem;
}



/* Portfolio page - About section */

.image-and-text-panel {
    display: flex;
    flex-flow: column;
    align-items: center;

    padding: 10rem 2rem 2rem 2rem;
}

.image-and-text-panel .text-item {
    padding: 2rem 0 3rem 0;

    text-align: center;
    line-height: 2rem;
}

.image-and-text-panel .avatar {
    width: auto;
    height: 20rem;
    padding: 1rem;

    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.image-and-text-panel .arrow  {
    width: auto;
    height: 4rem;
    margin: 1rem;
}



/* Portfolio page - Portfolio section */

.portfolio ul {
    display: inline-flex;
    flex-wrap: wrap;
}

.portfolio li {
    width: 50%;
    height: 80vh;

    background-color: rgb(0, 0, 0);

    /*list-style: none; Doesn't seem to do anything*/

    /*overflow: hidden; Doesn't seem to do anything*/
}

.portfolio li:last-child {
    width: 0vw;
    height: 0vh;

    background: rgb(255, 255, 255);
}

.portfolio-item {
    position: relative;
}

.portfolio-item img {
    object-fit: cover;

    width: 50vw;
    height: 80vh;

    opacity: 0.95;
    transition-property: opacity;
    transition-duration: 0.7s;

    z-index: 1;
}

.portfolio-item a {
    text-decoration: none;
}

.portfolio-item .portfolio-item-text {
    width: 50vw;
    position: absolute;
    bottom: 0;

    background-color: rgb(0, 0, 0, 0.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px); 

    z-index: 10;
}

.portfolio-item .portfolio-item-text h3, .portfolio-item .portfolio-item-text h4 {
    padding: 0.5rem;

    color: rgb(255, 255, 255);
}

.portfolio-item .portfolio-item-text h3 {
    font-size: 3rem;
    line-height: 3.2;
}

.portfolio-item .portfolio-item-text h4 {
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 2;
}

.portfolio-item:hover img {
    opacity: 0.6;
}



/* Portfolio page - CV section and CV page */

.text-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 2rem;
}

.text-panel .text-item {
    width: 80vw;

    line-height: 2.5rem;
}

.text-panel .text-item p {
    padding: 1rem 0;
}



/* Portfolio page & CV Page - Skill set */

.skill-set ul {
    padding: 0.5rem;
    padding-bottom: 2rem;

    list-style-type: none;
}

.skill-set li {
    display: inline-flex;

    padding: 0.5rem 1.5rem;
    margin: 0.3rem 0.1rem;

    border: 1px rgb(0, 0, 0) solid;

    font-size: 0.9rem;
}

li.black {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

li.orange  {
    background-color: rgb(240, 188, 60);
    color: rgb(0, 0, 0);
}

li.grey {
    background-color: rgb(99, 99, 99);
    color: rgb(255, 255, 255);
}



/* CV page */

.experience {
    background-color: rgb(94, 94, 114);
}

.experience h2 {
    color: rgba(255, 255, 255, 0.9);
}

.experience .job-item h3, .experience .job-item h4, .experience .job-item h5, .experience .job-item p, .experience .job-item li, .experience .job-item a {
    color: rgba(255, 255, 255, 0.603);
}

.experience .job-item {
    padding: 2rem;
}

.experience .job-item a {
    font-size: 1rem;
    text-decoration: none;
}

.experience ol {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    
    list-style-type: none;
}

.experience .job-item ul, .qualifications .edu-item ul {
    padding: 2rem;
}

.experience .job-item li, .qualifications .edu-item li {
    list-style-type: disc;
    text-align: left;
}

.qualifications ol {
    display: grid;
    grid-template-columns: 33.3vw 33.3vw 33.3vw;

    list-style-type: none;
}

.qualifications .edu-item {
    padding: 2rem;
}



/* Footer */

footer {
    display: block;

    margin: 0;
    padding: 3rem 1rem 1rem 1rem;

    background-color: black;
}

footer h2 {
    color:rgb(255, 255, 255);
}

footer .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .social-icons i.fa.fa-linkedin {
    padding: 2rem;

    font-size: 3rem;
    color:rgb(255, 255, 255);
}

footer .social-icons .email a {
    padding: 2rem;

    color:rgb(255, 255, 255);

    font-size: 1.25rem;
    font-weight: 500;
    text-decoration: none;
}

footer .social-icons i.fa.fa-github {
    padding: 2rem;

    color:white;

    font-size: 3.75rem;
}



/* Media Queries */

/* To do: Add horizontal media queries */

/*
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media only screen and (max-width: 1025px) {

    /* Portfolio page - Portfolio section */
    .portfolio li {
        height: 70vh;
    }

    .portfolio-item img {
        height: 70vh;

        transition-duration: 0s;
    }
    
    .portfolio-item .portfolio-item-text {
        min-height: 20vh;

        transition-duration: 0s;

        font-size: 2.5rem;
    }

    .portfolio-item:hover img {
        opacity: 0.8;
    }

    /* CV page */
    .qualifications ol {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}


@media only screen and (max-width: 990px) {

    /* Portfolio page - Portfolio section */
    .portfolio-item .portfolio-item-text h3 {
        font-size: 2.6rem;
    }

    .portfolio-item .portfolio-item-text h4 {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 870px) {

    /* Portfolio page - Portfolio section */
    .portfolio-item .portfolio-item-text h3 {
        font-size: 2.4rem;
    }

    .portfolio-item .portfolio-item-text h4 {
        font-size: 1.3rem;
    }
}


@media only screen and (max-width: 799px) {

    /* Portfolio page - Portfolio section */
    .portfolio ul {
        display: block;
    }

    .portfolio li {
        width: 100vw;
    }

    .portfolio img {
        width: 100vw;
    }

    .portfolio-item .portfolio-item-text {
        width: 100vw;
    }

    .portfolio-item .portfolio-item-text h3 {
        font-size: 3rem;
    }

    .portfolio-item .portfolio-item-text h4 {
        font-size: 1.5rem;
    }
}


@media only screen and (max-width: 570px) {

    /* Footer */
    footer .social-icons {
        display: block;
    }

    footer .social-icons i.fa.fa-linkedin {
        padding: 1rem;

        font-size: 2rem;
    }

    footer .social-icons .email a {
        padding: 1rem;

        font-size: 1rem;
    }

    footer .social-icons i.fa.fa-github {
        padding: 1rem;

        font-size: 2rem;
    }
}


@media only screen and (max-width: 500px) {

    /* Portfolio page - Portfolio section */
    .portfolio-item .portfolio-item-text h3 {
        font-size: 2.4rem;
    }

    .portfolio-item .portfolio-item-text h4 {
        font-size: 1.3rem;
    }
}


@media only screen and (max-width: 480px) {

    /* Portfolio page - About section */
    section .image-and-text-panel, .text-panel {
        padding: 1rem 2rem;
    }

    .image-and-text-panel .text-item {
        padding: 0 0 1rem 0;
    }

    .image-and-text-panel .avatar {
        height: 25vh;
        padding: 0rem;
    }

    .image-and-text-panel .arrow  {
        height: 3rem;
        margin: 2rem;
    }
}


@media only screen and (max-width: 417px) {

    /* Portfolio page - Portfolio section */
    .portfolio-item .portfolio-item-text h3 {
        font-size: 2.2rem;
    }

    .portfolio-item .portfolio-item-text h4 {
        font-size: 1.2rem;
    }
}


@media only screen and (max-width: 431px) {

    /* Footer */
    footer h2 {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 375px) {

    /* Portfolio page - About section */
    h1 {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 368px) {

    /* Portfolio page - Portfolio section */
    .portfolio-item .portfolio-item-text h3 {
        font-size: 2.1rem;
    }

    .portfolio-item .portfolio-item-text h4 {
        font-size: 1.1rem;
    }

    /* CV page */
    .experience ol {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

@media only screen and (max-width: 353px) {

    /* Portfolio page - About section */
    .image-and-text-panel .avatar {
        height: 20vh;
    }

    .image-and-text-panel .arrow  {
        height: 2rem;
        margin: 1rem;
    }

    /* Portfolio page - Portfolio section */
    .portfolio-item .portfolio-item-text h3 {
        font-size: 2rem;
    }

    .portfolio-item .portfolio-item-text h4 {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 320px) {

    /* Portfolio page - About section */
    h1 {
        font-size: 3rem;
    }
    

    /* Portfolio page - Portfolio section */
    .portfolio-item .portfolio-item-text h3 {
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 260px) {

    /* Footer */
    footer .social-icons .email a {
        padding: 0.8rem;

        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 200px) {

    /* Footer */
    footer .social-icons .email a {
        display: none;
    }
}