* {
    background-color: black;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    text-align: center;
    margin: 0;
    padding: 0;
}


/* Text syles */

h1 {
    display: block;
    font-size: 3.125rem;
    font-weight: normal;
    margin: 1rem;
}

h2 {
    display: block;
    font-size: 2.625rem;
    font-weight: 300;
    margin: 1rem;
}

p {
    color: grey;
    font-size: 1.3125rem;
    margin: 1.25rem auto;
}

a {
    color: aquamarine;
    text-decoration: underline;
}


/* Images and footer syles */

img {
    display: block;
    margin: 1.25rem auto;
}

#copyright {
    color: grey;
    font-size: 1.3125rem;
    text-align: right;
    margin-right: 1rem;
}


/* Media queries */

@media only screen and (max-width: 1024px) {
    
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    p {
        margin: 1.25rem;
    }

    a {
        font-size: 0.9rem;
    }

    img {
        max-width: -webkit-fill-available;
    }

    video {
        max-width: 300px;
    }
    
    #copyright {
        font-size: 0.9rem;
    }
    
}






