* {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', Arial, sans-serif;
    font-size: 16px;
}

h2 {
    color: #4a4a4a;
    font-size: 3rem;
    line-height: 1.2;
    padding: 20px 0 30px 0;
}

h3 {
    color: #4a4a4a;
    font-size: 2.5rem;
    line-height: 1.2;
    padding: 20px 0 20px 0;
}

h4 {
    color: #4a4a4a;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.5;
    padding: 20px 0 30px 0;
}

p { 
    color: #4a4a4a;
    font-size: 1rem;
    font-family: 'Merriweather Sans', Arial, sans-serif;
}


/* Logo & navigation */

nav {
    height: 64px;
    margin: 0 24px;
}

nav #icon img {
    height: 50px;
    padding: 7px 0;
}

nav #logo img {
    height: 17px;
    padding: 24px 5px;
}

nav ul {
    float: right;
    list-style-type: none;
    overflow: hidden;
    padding-right: 24px;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #4a4a4a;
    font-size: 1.2rem;
    padding: 19px 0 19px 16px;
}


/* Main banner */

#banner {
    background-color: #d8d8d8;
    width: 100%;
    height: 600px;
}

#banner img {
    float: left;
    width: 50%;
    height: auto;
    padding: 2rem 3rem 2rem 2rem;
}

#banner .text-box {
    float: left;
    position: relative;
    height: auto;
    max-width: 400px;
    padding: 100px 120px 30px 0;
}


/* Grey button */

.button {
    text-align: center;
    background-color: #4a4a4a;
    width: 400px;
    height: 3rem;
    border-radius: 2px;
}

.button p {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 200;
    line-height: 1.7;
    padding: 8px;
}


/* Information banner */

.information {
    width: 100%;
    height: 770px;
}

.information img {
    float: left;
    width: 50%;
    height: auto;
    padding: 2rem 3rem 2rem 2rem;
}

.information .information-box {
    float: left;
    color: #666666;
    width: 50%;
    padding: 0 3rem 2rem 2rem;
}

.information .quote {
    font-size: 1.2rem;
    font-weight: 200;
    line-height: 1.5;
}

.information .quote-by {
    font-size: 1rem;
    line-height: 5;
}

.information .grid-item {
    float: right;
    width: 40%;
}

.grid-item {
    border: 1px solid #d8d8d8;
    width: 65%;
}

.grid-item img {
    width: 30%;
    padding: 1.65rem 1rem;
}

.grid-item p {
    padding: 8px 90px;
    font-size: 1.1rem;
    line-height: 2;
}

.grid-item a {
    color: #2e7dff;
    font-size: 1.1rem;
    line-height: 2;
    text-decoration: none;
}

.grey {
    background-color: #d8d8d8;
}


/* Courses banner */
