* { 
  box-sizing: border-box;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  font-size: 16px;
}

h3 {
  font-size: 2rem;
}

header {
  height: 100px;
}

body {
}



/* Featured grid section */

.featured {
  display: inline-flex;
  justify-content: space-evenly;
  min-width: 100vw;
}

.grid {
  display: inline-block;
  padding: 2rem;
  min-width: 30vw;
}

.grid img {
  max-width: -webkit-fill-available;
}

.grid .grid-item {
  padding: 1rem 0;
}

.grid-item h3 {
  padding: 1rem 0;
}

.grid-item p {
  line-height: 1.5;
}