* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: 'Timmana', sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.7rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.7rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}

a {
  color: darkblue;
}

a h3 {
  color: black;
}



header {

}

body {
  margin: ;
  background-image: url("/resources/images/how-to-build-a-gundam/unicorn-interface-design.png");
  background-position: center;
}





section .equipment {
  margin: 1rem auto;
  background-color: whitesmoke;
  min-width: 80vw;
  max-width: 80vw;
  max-height: 60vh;
}

.equipment .container {
  display: flex;
  justify-content: center;
}

.equipment .container figure {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
}

.equipment .container .caption {
  background-color: whitesmoke;
  min-width: 40vw;
  max-width: 40vw;
  max-height: 60vh;
  padding: 2rem;
  /* display: inline-flex;
  flex-direction: column; */
}

.equipment .container img {
  min-width: 40vw;
  max-width: 40vw;
  max-height: 60vh;
  padding: 1rem;
  object-fit: contain;
}



@media only screen and (max-width: 768px) {

  section .equipment {
    margin: 1rem auto;
    min-width: 80vw;
    max-width: 80vw;
    max-height: 100vh;
  }

  .equipment .container figure {
    display: block;
  }

  .equipment .container .caption {
    min-width: 70vw;
    max-width: 70vw;
    padding: 0.5rem;
  }

  .equipment .container img {
    min-width: 70vw;
    max-width: 70vw;
    padding: 0.5rem;
  }
}



