* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Timmana', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.7rem;
    text-align: center;
    padding-top: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.7rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1.2rem;
}

p {
    font-size: 1rem;
}

a {
    color: darkblue;
}

a h2 {
    color: black;
}

header {
}

body {
    /* background-image: url(/resources/images/how-to-build-a-gundam/unicorn-interface-design.png); */
    background-position: center;
    background-repeat: repeat;
    margin: 1rem auto;
}

.container .caption h4, h2 {
    text-decoration: underline;
}



/* Nav section */

/* Logo */
.logo {
    position: fixed;
    z-index: 10;
    width: auto;
    height: fit-content;
}

.logo img {
    width: auto;
    height: 6rem;
    padding: 0 1rem;
}


/* Nav - general */
.nav {
    display: inline-flex;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
    margin-top: 4.4rem;
}

.nav img {
    width: 100%;
    Height: 100%;
    object-fit: cover;
}


/* Nav - left block */
.nav #left-block {
    position: relative;
    float: left;
    flex-shrink: 2;
    width: 42vw;
    height: fit-content;
}

.nav #left-block .top {
    width: 42vw;
    height: 50vh;
}

.nav #left-block .bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.nav #left-block .bottom .bottom-left {
    width: 20vw;
    height: 28vh;
}

.nav #left-block .bottom .bottom-right {
    width: 20vw;
    height: 28vh;
}

/* Nav - left block overlays */
#left-block .overlay {
    position: absolute;
    color: rgb(177, 177, 177);
    text-align: center;
    background-color: rgba(109, 0, 0, 0.808);
    /*opacity: 1;
    transition: 0.5s ease;*/
    cursor: pointer;
}

#left-block .top .overlay {
    font-size: 5rem;
    line-height: 60vh;
    width: 42vw;
    height: 50vh;
    top: 0;
}

#left-block .bottom .overlay {
    bottom: 0;
    font-size: 3rem;
    line-height: 30vh;
    width: 20vw;
    height: 28vh;
    margin-top: 1rem;
}

#left-block .top:hover .overlay {
    opacity: 0;
}

#left-block .bottom-left:hover .overlay {
    opacity: 0;
}

#left-block .bottom-right:hover .overlay {
    opacity: 0;
}


/* Nav - right block */
.nav #right-block {
    position: relative;
    float: right;
    flex-shrink: 2;
    width: 42vw;
    height: fit-content;
}

.nav #right-block .left {
    width: 20vw;
    height: 80vh;
    float: left;
}

.nav #right-block .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: right;
    height: 80vh;
}

.nav #right-block .right .top {
    width: 20vw;
    height: 36vh; 
}

.nav #right-block .right .bottom {
    width: 20vw;
    height: 39vh; 
}

/* Nav - right block overlays */
#right-block .overlay {
    position: absolute;
    color: rgb(177, 177, 177);
    text-align: center;
    background-color: rgba(109, 80, 0, 0.808);
    /*opacity: 1;
    transition: 0.5s ease;*/
    cursor: pointer;
}

#right-block .left .overlay {
    font-size: 5rem;
    line-height: 80vh;
    width: 20vw;
    height: 80vh;
    top: 0;
}

#right-block .right .overlay {
    font-size: 3rem;
    line-height: 40vh;
    background-color: rgba(0, 44, 109, 0.808);
}

#right-block .top .overlay {
    width: 20vw;
    height: 36vh;
    top: 0;
}

#right-block .bottom .overlay {
    width: 20vw;
    height: 39vh;
    bottom: 0;
}

#right-block .left:hover .overlay {
    opacity: 0;
}

#right-block .top:hover .overlay {
    opacity: 0;
}

#right-block .bottom:hover .overlay {
    opacity: 0;
}




/* Equipment section */

section .equipment {
    margin: 2rem auto;
    background-color: hsl(0, 0%, 96%);
    width: 80vw;
    height: 60vh;
}
  
.equipment .container {
    display: flex;
    justify-content: center;
}
  
.equipment .container figure {
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
}
  
.equipment .container .caption {
    background-color: hsl(0, 0%, 96%);
    width: 40vw;
    height: 60vh;
    padding: 2rem;
}

.equipment .container .caption h3 {
    text-decoration: underline;
}
  
.equipment .container img {
    object-fit: contain;
    width: 40vw;
    height: 60vh;
    padding: 1rem;
}


/* Grades section */

section .grades {
    margin: 2rem auto;
    background-color: hsl(0, 0%, 96%);
    width: 80vw;
}
  
  
.grades .container {
    display: flex;
    justify-content: center;
}
  
.grades .container figure {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}
  
.grades .container .caption {
    width: 60vw;
    height: fit-content;
    padding: 2rem 0.5rem 0 0.5rem;
}
  
.grades .container .caption p {
    padding: 0.4rem 0 1rem 0;
}
  
.grades .container img {
    object-fit: contain;
    width: 60vw;
    height: 60vh;
    padding: 1rem;
    background-color: hsl(0, 0%, 100%);
}


/* Building section */

section .build {
    margin: 2rem auto;
    background-color: hsl(0, 0%, 96%);
    width: 80vw;
    height: 60vh;
}
  
.build .container {
    display: flex;
    justify-content: center;
}
  
.build .container figure {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}
  
.build .container .caption {
    background-color: hsl(0, 0%, 96%);
    width: 40vw;
    height: 60vh;
    padding: 2rem;
}

.build .container img {
    object-fit: cover;
    width: 40vw;
    height: 60vh;
    padding: 1rem;
}


/* Finishing section */

section .finish {
    margin: 2rem auto;
    background-color: hsl(0, 0%, 96%);
    width: 80vw;
    height: 60vh;
}
  
.finish .container {
    display: flex;
    justify-content: center;
}
  
.finish .container figure {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}
  
.finish .container .caption {
    background-color: whitesmoke;
    width: 40vw;
    height: 60vh;
    padding: 2rem;
}

.finish .container .caption h3 {
    text-decoration: underline;
}
  
.finish .container img {
    object-fit: cover;
    width: 40vw;
    height: 60vh;
    padding: 1rem;
}


/* Display section */

section .display {
    margin: 1rem auto;
}
  
.display .container {
    display: flex;
    justify-content: center;
}
  
.display .container figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.display .container .caption {
    background-color: whitesmoke;
    width: 40vw;
    height: 60vh;
    padding: 2rem;
}
  
.display .container img {
    width: 37vw;
    height: 70vh;
    object-fit: cover;
    border: 5px solid black;
    margin: 2rem;
}


/* Tips section */

section .tips {
    margin: 2rem auto;
    background-color: whitesmoke;
    width: 80vw;
    height: 60vh;
}
  
.tips .container {
    display: flex;
    justify-content: center;
}
  
.tips .container figure {
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
}
  
.tips .container .caption {
    background-color: whitesmoke;
    width: 40vw;
    height: 60vh;
    padding: 2rem;
}

.tips .container img {
    object-fit: contain;
    width: 40vw;
    height: 60vh;
    padding: 1rem;
}


/* Footer section */

footer {
    text-align: center;
}

footer p, a {
    font-size: 1.3rem;
}


/* Media queries */

@media only screen and (max-width: 1250px) {

    /* Nav section */
    .logo img {
        height: 6rem;
    }

    .nav {
        display: inline-grid;
        position: relative;
        bottom: 2rem;
        height: 90vh;
        margin-top: 3.5rem;
    }

    .nav #left-block {
        width: 80vw;
        height: fit-content;
        margin: auto 1rem;
    }

    .nav #left-block .top {
        width: 80vw;
        height: 22vh;
    }
    
    .nav #left-block .bottom .bottom-left {
        width: 39vw;
        height: 14vh;
    }
    
    .nav #left-block .bottom .bottom-right {
        width: 39vw;
        height: 14vh;
    }
    
    .nav #right-block {
        width: 80vw;
        height: fit-content;
        padding-left: 0;
        margin: 1rem;
    }

    .nav #right-block .left {
        width: 45vw;
        height: 41vh;
    }

    .nav #right-block .right {
        height: 41vh;
    }
    
    .nav #right-block .right .top {
        width: 32vw;
        height: 18.5vh; 
    }
    
    .nav #right-block .right .bottom {
        width: 32vw;
        height: 20vh;
    }

    #left-block .top .overlay {
        font-size: 4rem;
        line-height: 3;
        top: 0rem;
        width: 80vw;
        height: 24vh;
    }
    
    #left-block .bottom .overlay {
        font-size: 2rem;
        line-height: 3;
    }
    
    #left-block .bottom-left .overlay {
        bottom: 50vh;
        width: 39vw;
        height: 15vh;
    }
    
    #left-block .bottom-right .overlay {
        bottom: 50vh;
        left: 51vw;
        width: 39vw;
        height: 15vh;
    }
}


@media only screen and (max-width: 768px) {

    /* Nav section */
    .logo img {
        height: 5rem;
    }

    /* Equipment section */
    section .equipment {
      width: 80vw;
      height: fit-content;
      margin: 1rem auto;
    }
  
    .equipment .container figure {
      display: block;
    }
  
    .equipment .container .caption {
      width: 70vw;
      height: fit-content;
      padding: 0.5rem;
    }
  
    .equipment .container img {
      width: 70vw;
      height: 40vh;
      padding: 0.5rem;
    }

    /* Grades section */
    section .grades {
      margin: 1rem auto;
    }

    .grades .container figure {
      display: block;
    }

    .grades .container .caption {
        width: 80vw;
        height: fit-content;
        padding: 0.5rem;
    }

    .grades .container .caption p {
        font-size: 1rem;
    }

    .grades .container img {
      width: 80vw;
      height: 40vh;
      padding: 0.5rem;
    }

    /* Building section */
    section .build {
        width: 80vw;
        height: fit-content;
        margin: 1rem auto;
    }
    
    .build .container figure {
        display: block;
    }
    
    .build .container .caption {
        width: 70vw;
        height: fit-content;
        padding: 0.5rem;
    }
    
    .build .container img {
        width: 70vw;
        height: 40vh;
        padding: 0.5rem;
    }

    /* Finishing section */
    section .finish {
        width: 80vw;
        height: fit-content;
        margin: 1rem auto;
    }

    .finish .container figure {
        display: block;
    }

    .finish .container .caption {
        width: 70vw;
        height: fit-content;
        padding: 0.5rem;
    }

    .finish .container img {
        width: 70vw;
        height: 40vh;
        padding: 0.5rem;
    }

    /* Display section */
    .display {
        margin: 1rem auto;
        width: 80vw;
    }
    
    .display .container figure {
        display: flex;
        flex-flow: column;
        flex-direction: column;
    }
    
    .display .container .caption {
        width: 70vw;
        padding: 0.5rem;
    }

    .display .container img {
        width: 70vw;
        height: 50vh;
    }
    
    .display .container {
        flex-flow: column;
    }

    /* Tips section */
    .tips {
      width: 80vw;
      height: 100vh;
      margin: 1rem auto;
    }
    
    .tips .container figure {
      display: block;
    }
    
    .tips .container .caption {
      width: 70vw;
      height: fit-content;
      padding: 0.5rem;
    }
    
    .tips .container img {
      width: 70vw;
      height: 40vh;
      padding: 0.5rem;
    }

    /* Footer section */
    footer p, a {
        font-size: 0.9rem;
    }
}


@media only screen and (max-width: 400px) {

    /* Nav section */
    .logo img {
        height: 4rem;
        padding: 0 1rem;
    }


}


/* 
Dont forget to test 
1. iPhone 5 landscape media queries - as of 14/03/2020 there is a content overflow problem 
2. images in nav load slowly
3. Divs around images don't have a height - see Nick's message from 16 March 2020
4. Set expires headers after content is completed: https://moz.com/blog/expires-headers-for-seo-why-you-should-think-twice-before-using-them
5. Conside placing height and width constraints on div and not in img
*/

