/*
OUTSIDE IN
1. Layout for CSS Layout Properties (position, float, clear, display)
2. Box Model Properties (width, height, margin, padding)
3. Visual Properties (color, background, border, box-shadow)
4. Typography Properties (font-size, font-family, text-align, text-transform)
5. Misc Properties (cursor, overflow, z-index)
*/

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    /*border: 1px solid red;*/

    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
}

h1 {
    font-family: 'Timmana', sans-serif;
    font-size: 3.5rem;

    scroll-behavior: smooth;
}

h2 {
    padding-top: 3rem;

    font-family: 'Timmana', sans-serif;
    font-size: 3.2rem;
    text-align: center;
    text-decoration: underline;
}

h3 {
    font-family: 'Timmana', sans-serif;
    font-size: 2.5rem;
}

h4 {
    font-family: 'Timmana', sans-serif;
    font-size: 2rem;
}

h5 {
    font-family: 'Timmana', sans-serif;
    font-size: 1.7rem;
}

h6 {
    font-family: 'Timmana', sans-serif;
    font-size: 1.7rem;
}

p {
    padding: 0.4rem 0 1rem 0;

    font-size: 1.5rem;
    font-weight: 300;
}

em {
    font-size: 1.5rem;
    font-weight: 300i;
}

i {
    font-size: 1.5rem;
    font-weight: 300i;
}

strong {
    font-size: 1.5rem;
    font-weight: 600;
}

b {
    font-size: 1.5rem;
    font-weight: 600;
}

a {
    font-size: 1.5rem;
}

a h2 {
    color: black;
}

body {
    margin: 1rem auto;

    background-image: url("/how-to-build-a-gundam/resources/images/gundam-schematics.png"); 
    background-position: center;
    background-repeat: repeat;
}




/* Nav section */

/* Logo */
.logo {
    position: fixed;

    z-index: 10;
}

.logo img {
    width: auto;
    height: 9rem;
    padding: 0 1rem;
}


/* Nav - general */
.nav {
    display: inline-flex;
    justify-content: space-evenly;

    width: 100vw;
    height: 80vh;
    margin-top: 4.4rem;
}

.nav img {
    /* width & height added as presentational attribute so sizing is present when page is loading */
    width: 100%;
    height: 100%;

    object-fit: cover;
    outline-color: black;
    outline-style: inset;
}

.nav p.overlay {
    color: rgb(255, 255, 255);

    font-family: "Timmana", sans-serif;
    text-align: center;
}

.nav .overlay {
    position: absolute;

    outline-color: black;
    outline-style: inset;
    opacity: 1;
    transition: 0.2s;
    transition-property: opacity;

    cursor: crosshair;
}


/* Nav - left block */
.nav #left-block {
    position: relative;
    /*float: left;
    flex-shrink: 2;*/

    width: 42vw;
    height: fit-content;
}

.nav #left-block .top {
    width: 42vw;
    height: 50vh;
}

.nav #left-block .bottom {
    display: flex;
    justify-content: space-between;

    /*width: 42vw;
    height: 30vh; don't semm to do anything */
    margin-top: 1rem;
}

.nav #left-block .bottom .bottom-left, .nav #left-block .bottom .bottom-right {
    width: 20vw;
    height: 28vh;
}

/* Nav - left block overlays */
#left-block .overlay {
    background-color: rgba(202, 45, 45, 0.692);
}

#left-block .top .overlay {
    top: 0;

    width: 42vw;
    height: 50vh;

    font-size: 5rem;
    line-height: 60vh;
}

#left-block .bottom .overlay {
    bottom: 0;

    width: 20vw;
    height: 28vh;

    font-size: 3rem;
    line-height: 30vh;
}

#left-block .top:hover .overlay {
    opacity: 0;
}

#left-block .bottom-left:hover .overlay {
    opacity: 0;
}

#left-block .bottom-right:hover .overlay {
    opacity: 0;
}


/* Nav - right block */
.nav #right-block {
    position: relative;
    /*float: right;
    flex-shrink: 2;*/

    width: 42vw;
    height: fit-content;
}

.nav #right-block .left {
    float: left;

    width: 20vw;
    height: 80vh;
}

.nav #right-block .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: right;

    height: 80vh;
}

.nav #right-block .right .top {
    width: 20vw;
    height: 36vh; 
}

.nav #right-block .right .bottom {
    width: 20vw;
    height: 39vh; 
}


/* Nav - right block overlays */
#right-block .left .overlay {
    background-color: rgba(160, 123, 41, 0.79);
}

#right-block .left .overlay {
    top: 0;

    width: 20vw;
    height: 80vh;

    font-size: 5rem;
    line-height: 80vh;
}

#right-block .right .overlay {
    background-color: rgba(30, 29, 48, 0.726);

    font-size: 3rem;
    line-height: 40vh;
}

#right-block .top .overlay {
    top: 0;

    width: 20vw;
    height: 36vh;
}

#right-block .bottom .overlay {
    bottom: 0;

    width: 20vw;
    height: 39vh;
}

#right-block .left:hover .overlay {
    opacity: 0;
}

#right-block .top:hover .overlay {
    opacity: 0;
}

#right-block .bottom:hover .overlay {
    opacity: 0;
}



/* Sections - general */
section .grades, section .equipment, section .build, section .finish, section .tips  {
    width: 80vw;
    margin: 2rem auto;

    background-color: hsla(0, 0%, 96%);
    border: 1px solid black;
}

.equipment .container img, .build .container img, .finish .container img, .tips .container img {
    width: 40vw;
    height: 60vh;
    padding: 1rem;

    background-color: hsl(0, 0%, 96%);
}

.equipment .container .caption, .build .container .caption, .finish .container .caption, .tips .container .caption {
    width: 38vw;
    /*height: 60vh;*/
    height: fit-content;
    padding: 2rem;

    background-color: hsl(0, 0%, 96%);
}

.build .container, .finish .container, .equipment .container, .tips .container {
    display: inline-flex;
    align-items: center;
}
  


/* Grades section */
  
.grades .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grades .container img {
    width: auto;
    height: 60vh;
    padding: 1rem 0;

    object-fit: contain;
}

.grades .caption-container {
    padding: 2rem 0;
}
  
.grades .container .caption-container .caption {
    width: 60vw;
    height: fit-content;
    padding: 1rem 0;
}
  
.grades .container .caption-container .caption p {
    padding: 0.4rem 0 1rem 0;
}
  


/* Building  & Finishing sections */
  
.build .container, .finish .container {
    flex-direction: row;
}
  
.build .container img, .finish .container img, .tips .container img {
    object-fit: cover;
}



/* Equipment & Tips sections */
  
.equipment .container, .tips .container {
    flex-direction: row-reverse;
}

.equipment .container img {
    object-fit: contain;
}




/* Display section */

section .display {
    width: 90vw;
    height: auto;
    margin: 2rem auto;

    background-color: rgba(245, 245, 245, 0.8);
    border: 1px solid rgba(0, 0, 0);
}
  
.display .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
  
.display .container img {
    width: 37vw;
    height: 70vh;
    margin: 2rem;

    object-fit: cover;
    background-color: black;
    border: 5px solid black;
}



/* Footer section */
footer {
    height: 4rem;
    padding: 1rem;

    text-align: center;

    background-color: white;
    border: 1px solid black;
}

footer p, footer a {
    font-family: Timmana;
    font-size: 2rem;
}



/* Media queries */
@media only screen and (max-width: 1250px) {

    /* Nav section */
    .logo img {
        height: 7rem;
    }

    .nav {
        display: inline-grid;
        position: relative;
        bottom: 2rem;

        margin-top: 3.5rem;
    }

    .nav #left-block {
        width: 80vw;
        height: fit-content;
        margin: auto 1rem;
    }

    .nav #left-block .top {
        width: 80vw;
        height: 22vh;
    }
    
    .nav #left-block .bottom .bottom-left {
        width: 39vw;
        height: 14vh;
    }
    
    .nav #left-block .bottom .bottom-right {
        width: 39vw;
        height: 14vh;
    }

    /* Nav - left block overlays */
    #left-block .top .overlay {
        width: 80vw;
        height: 22vh;

        font-size: 4.5rem;
        line-height: 25vh;
    }

    #left-block .bottom .overlay {
        /*font-size: 2.5rem;*/
        line-height: 15vh;
    }

    #left-block .bottom .bottom-left .overlay {
        bottom: 0;

        width: 39vw;
        height: 14vh;
    }

    #left-block .bottom .bottom-right .overlay {
        bottom: 0;
        left: 41vw;

        width: 39vw;
        height: 14vh;
    }

    #left-block .top:hover .overlay {
        opacity: 1;
    }
    
    #left-block .bottom:hover .overlay {
        opacity: 1;
    }


    /* Nav - right block general */
    .nav #right-block {
        width: 80vw;
        height: fit-content;
        padding-left: 0;
        margin: 1rem;
    }

    .nav #right-block .left {
        width: 45vw;
        height: 41vh;
    }

    .nav #right-block .right {
        height: 41vh;
    }
    
    .nav #right-block .right .top {
        width: 32vw;
        height: 18.5vh; 
    }
    
    .nav #right-block .right .bottom {
        width: 32vw;
        height: 20vh;
    }

    /* Nav - right block overlays */
    #right-block .left .overlay {
        top: 0;

        width: 45vw;
        height: 41vh;

        font-size: 4.5rem;
        line-height: 45vh;
    }
    
    #right-block .right .overlay {
        font-size: 3rem;
        line-height: 20vh;
    }
    
    #right-block .top .overlay {
        top: 0;

        width: 32vw;
        height: 18.5vh; 
    }
    
    #right-block .bottom .overlay {
        bottom: 0;

        width: 32vw;
        height: 20vh;

        line-height: 22vh;
    }

    #right-block .left:hover .overlay {
        opacity: 1;
    }
    
    #right-block .right:hover .overlay {
        opacity: 1;
    }
}


@media only screen and (max-width: 768px) {

    /* Nav section */
    .logo img {
        height: 6rem;
    }

    /* Sections - general */
    .equipment .container, .build .container, .finish .container, .tips .container {
        display: block;
    }

    .equipment .container img, .build .container img, .finish .container img, .tips .container img {
        width: 79vw;
    }

    .equipment .container .caption, .build .container .caption, .finish .container .caption, .tips .container .caption {
        width: 70vw;
        height: auto;
        margin: 0 auto;
        padding: 1rem;
    }


    /* Grades section */
    .grades .container img {
        height: 50vh;
        padding: 1rem;
    }


    /* Footer section */
    footer p, footer a {
        font-size: 1.2rem;
    }
}


@media only screen and (max-width: 700px) {

    /* Nav section */
    #left-block .top .overlay {
        font-size: 4rem;
    }

    #left-block .bottom .overlay {
        font-size: 2rem;
    }

    #right-block .left .overlay {
        font-size: 4rem;
    }

    #right-block .right .overlay {
        font-size: 2.5rem;
    }


    /* Display section */
    .display {
        margin: 1rem auto;
        width: 80vw;
    }
    
    .display .container figure {
        display: flex;
        flex-flow: column;
        flex-direction: column;
    }

    .display .container img {
        width: 80vw;
    }

    .display .container {
        flex-flow: column;
        
        padding: 0;
    }
}


@media only screen and (max-width: 600px) {

    /* Nav section */
    #left-block .top .overlay {
        font-size: 3.5rem;
    }

    #right-block .left .overlay {
        font-size: 3.5rem;
    }

    #right-block .right .overlay {
        font-size: 2rem;
    }


    /* Grades section */
    .grades .container img {
        height: 40vh;
    }
}


@media only screen and (max-width: 500px) {

    /* Nav section */
    #left-block .top .overlay {
        font-size: 3rem;
    }

    #right-block .left .overlay {
        font-size: 3rem;
    }
}


@media only screen and (max-width: 400px) {

    /* Nav section */
    .logo img {
        height: 4rem;
        padding: 0 1rem;
    }

    #right-block .right .overlay {
        font-size: 1.7rem;
    }

    
    /* Grades section */
    .grades .container img {
        height: 30vh;
        padding: 1rem;
    }
}


/* 
Dont forget to test 
1. iPhone 5 landscape media queries - as of 14/03/2020 there is a content overflow problem 
2. images in nav load slowly
3. Divs around images don't have a height - see Nick's message from 16 March 2020
4. Set expires headers after content is completed: https://moz.com/blog/expires-headers-for-seo-why-you-should-think-twice-before-using-them
5. Conside placing height and width constraints on div and not in img
*/

