* {
    /*border: 1px red solid;*/
    box-sizing: border-box;
    margin: 0;
    font-family: 'Press Start 2P', sans-serif;
    font-weight: 200;
    font-size: 25px;
    color: #edfcdf;
}

body {
    background-color: #000000;
    margin: 1rem;
}

h3 {
    padding: 1rem 0;
}

.grid {
    background-color: #000000;
    display: flex;
    flex-wrap: wrap;
    width: 570px;
    height: 570px;
    margin: 0 auto;
    border: 5px solid black;
}

.grid div {
    width: 20px;
    height: 20px;
}

.pac-dot {
    border: 2px solid yellow;
    border-radius: 1rem;
}

.wall {
    border: 1px solid darkblue;
    /*outline: #4CAF50 solid 1px;*/
}

.border-top {
    border-top: 2px double darkblue;
}

.border-right {
    border-right: 2px double darkblue;
}

.border-bottom {
    border-bottom: 2px double darkblue;
}

.border-left {
    border-left: 2px double darkblue;
}

.power-pellet {
    border: 10px solid yellow;
    border-radius: 1rem;
}

.ghost-lair{
}

.blinky {
    background-color: crimson;
    border: 2px solid crimson;
    border-radius: 1rem;
}

.pinky {
    background-color: lightpink;
    border: 2px solid lightpink;
    border-radius: 1rem;
}

.inky {
    background-color: cyan;
    border: 2px solid cyan;
    border-radius: 1rem;
}

.clyde {
    background-color: darkorange;
    border: 2px solid darkorange;
    border-radius: 1rem;
}

.scared-ghosts {
    background-color: gray;
    border: 2px solid gray;
    border-radius: 1rem;
}

.pac-man {
    background-color: black;
    border: 6px solid yellow;
    border-radius: 1rem;
}