* {
    /*border: 1px red solid;*/
    box-sizing: border-box;
    margin: 0;
    font-family: 'Press Start 2P', sans-serif;
    font-weight: 200;
    font-size: 25px;
    color: #edfcdf;
}

body {
    background-color: #000000;
    margin: 1rem;
}

h3 {
    padding: 1rem 0;
}

.container {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

/* Left/grid section */

.left {
    display: flex;
    flex-direction: column;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 570px;
    height: 570px;
    margin: 0 auto;
    border: 5px solid black;
}

.grid div {
    width: 20px;
    height: 20px;
}

.wall {
    border: 1px solid darkblue;
}


/* Right/info section */

.right {
    display: flex;
    flex-direction: column;
    margin: 1rem 0.5rem;
}

.right h3 {
    text-transform: uppercase;
    color: #d93a2f;
}


#high-score {
    font-size: 1rem;
}

#score {
    font-size: 1rem;
}

#lives {
    font-size: 1rem;
}


/* Sprites */
/* Ghost sprites */

.blinky {
	width: 20px;
    height: 20px;
    display: block;	
    background: transparent url("/games/gameboy-pacman/resources/blinky.png") 0 0 no-repeat;
    background-size: 160px 20px;
    animation: ghosts 1.5s steps(8) infinite;
    image-rendering: pixelated;
    border: none !important;
}

.pinky {
	width: 20px;
    height: 20px;
    display: block;	
    background: transparent url("/games/gameboy-pacman/resources/pinky.png") 0 0 no-repeat;
    background-size: 160px 20px;
    animation: ghosts 1.5s steps(8) infinite;
    image-rendering: pixelated;
    border: none !important;
}

.inky {
	width: 20px;
    height: 20px;
    display: block;	
    background: transparent url("/games/gameboy-pacman/resources/inky.png") 0 0 no-repeat;
    background-size: 160px 20px;
    animation: ghosts 1.5s steps(8) infinite;
    image-rendering: pixelated;
    border: none !important;
}

.clyde {
	width: 20px;
    height: 20px;
    display: block;	
    background: transparent url("/games/gameboy-pacman/resources/clyde.png") 0 0 no-repeat;
    background-size: 160px 20px;
    animation: ghosts 1.5s steps(8) infinite;
    image-rendering: pixelated;
    border: none !important;
}

@keyframes ghosts {
    from {background-position: 0 0;}
    to {background-position: -160px 0;}
}


.scared-ghosts {
	width: 20px;
    height: 20px;
    display: block;	
    background: transparent url("/games/gameboy-pacman/resources/scared-ghosts1.png") 0 0 no-repeat;
    background-size: 40px 20px;
    animation: scared-ghosts 0.2s steps(2) infinite;
    image-rendering: pixelated;
}

@keyframes scared-ghosts {
    from {background-position: 0 0;}
    to {background-position: -40px 0;}
}


/* Pac sprites */

.pac-up {
	width: 20px;
    height: 20px;
    display: block;	
    background: transparent url("/games/gameboy-pacman/resources/pac-up.png") 0 0 no-repeat;
    background-size: 40px 20px;
    animation: pac-up-down 0.3s steps(2) infinite;
    image-rendering: pixelated;
}

.pac-down {
	width: 20px;
    height: 20px;
    display: block;	
    background: transparent url("/games/gameboy-pacman/resources/pac-down.png") 0 0 no-repeat;
    background-size: 40px 20px;
    animation: pac-up-down 0.3s steps(2) infinite;
    image-rendering: pixelated;
}

@keyframes pac-up-down {
    from {background-position: 0 0;}
    to {background-position: -40px 0;}
}


.pac-right {
	width: 20px;
    height: 20px;
    display: block;	
    background: transparent url("/games/gameboy-pacman/resources/pac-right.png") 0 0 no-repeat;
    background-size: 60px 20px;
    animation: pac-right 0.3s steps(3) infinite;
    image-rendering: pixelated;
}

@keyframes pac-right {
    from {background-position: 0 0;}
    to {background-position: -62px 0;}
}


.pac-left {
	width: 20px;
    height: 20px;
    display: block;	
    background: transparent url("/games/gameboy-pacman/resources/pac-left.png") 0 0 no-repeat;
    background-size: 60px 20px;
    animation: pac-left 0.3s steps(3) infinite;
    image-rendering: pixelated;
}

@keyframes pac-left {
    from {background-position: 0 0;}
    to {background-position: -61px 0;}
}


/* Dots and pellets */
.pac-dot {
    background-color: #f0bc3c;
    border: 7px solid black;
    border-radius: 48%;
}

.pac-dot-new {
    background: 
    radial-gradient(#f0bc3c 15%, transparent 25%) 4px 2px, 
    radial-gradient(#f0bc3c 15%, transparent 25%) 6px 8px, 
    radial-gradient(#f0bc3c 15%, transparent 25%) -2px 4px, 
    radial-gradient(#f0bc3c 15%, transparent 13%) 6px 8px;
}

.power-pellet {
    border: 10px solid #f0bc3c;
    border-radius: 1rem;
}


/* Media queries */

@media only screen and (max-width: 414px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    /* Left/grid section */
    
    .grid {
        width: 360px;
        height: 360px;
        border: none;
    }
    
    .grid div {
        width: 12.5px;
        height: 12.5px;
    }

    .pac-dot {
        border: 4px solid black;
    }
    
    .power-pellet {
        border: 5px solid #f0bc3c;
    }

    /* Sprites */

    /* Pac sprites */

    .pac-up {
        width: 12.5px;
        height: 12.5px;
        background: transparent url("/games/gameboy-pacman/resources/pac-up_158.png") 0 0 no-repeat;
        background-size: 23px 12px;
    }

    .pac-down {
        width: 12.5px;
        height: 12.5px;
        background: transparent url("/games/gameboy-pacman/resources/pac-down_162.png") 0 0 no-repeat;
        background-size: 23px 12px;
    }

    @keyframes pac-up-down {
        from {background-position: 0 0;}
        to {background-position: -23px 0;}
    }

    .pac-right {
        width: 12.5px;
        height: 12.5px;
        background: transparent url(/games/gameboy-pacman/resources/pac-right_234.png) 0 0 no-repeat;
        background-size: 35px 10px;
    }

    @keyframes pac-right {
        from {background-position: 0 0;}
        to {background-position: -36px 0;}
    }


    .pac-left {
        width: 12.5px;
        height: 12.5px;	
        background: transparent url("/games/gameboy-pacman/resources/pac-left_239.png") 0 0 no-repeat;
        background-size: 35px 10px;
    }

    @keyframes pac-left {
        from {background-position: 0 0;}
        to {background-position: -35px 0;}
    }


    /* Ghost sprites */

    .blinky {
        width: 12.5px;
        height: 12.5px;
        background: transparent url("/games/gameboy-pacman/resources/blinky_640.png") 0 0 no-repeat;
        background-size: 91px 12px;
    }

    .pinky {
        width: 12.5px;
        height: 12.5px;
        background: transparent url("/games/gameboy-pacman/resources/pinky_640.png") 0 0 no-repeat;
        background-size: 91px 12px;
    }

    .inky {
        width: 12.5px;
        height: 12.5px;
        background: transparent url("/games/gameboy-pacman/resources/inky_640.png") 0 0 no-repeat;
        background-size: 91px 12px;
    }

    .clyde {
        width: 12.5px;
        height: 12.5px;
        background: transparent url("/games/gameboy-pacman/resources/clyde_640.png") 0 0 no-repeat;
        background-size: 91px 12px;
    }

    @keyframes ghosts {
        from {background-position: 1px 0;}
        to {background-position: -90px 0;}
    }


    .scared-ghosts {
        width: 20px;
        height: 20px;
        display: block;	
        background: transparent url("/games/gameboy-pacman/resources/scared-ghosts1.png") 0 0 no-repeat;
        background-size: 40px 20px;
        animation: scared-ghosts 0.2s steps(2) infinite;
        image-rendering: pixelated;
    }

    @keyframes scared-ghosts {
        from {background-position: 0 0;}
        to {background-position: -40px 0;}
    }
    

    /* Right/info section */

    .right {
        margin: 1rem 0.5rem;
    }

    .right h3 {
        font-size: 0.8rem;
    }

    #high-score {
        font-size: 0.8rem;
    }
    
    #score {
        font-size: 0.8rem;
    }
    
    #lives {
        font-size: 0.8rem;
    }

}

@media only screen and (max-width: 320px) {
    
    /* Left/grid section */

    .left {
        width: 100vw;
    }
    
    .grid {
        width: 310px;
        height: 310px;
    }
    
    .grid div {
        width: 11px;
        height: 11px;
    }
}