* {
    /*border: 1px red solid;*/
    box-sizing: border-box;
    margin: 0;
    font-family: 'Press Start 2P', sans-serif;
    font-weight: 200;
    font-size: 25px;
    color: #edfcdf;
}

body {
    background-color: #1c343e;
    margin: 1rem;
}

h3 {
    padding: 1rem 0;
}

.grid {
    background-color: #edfcdf;
    display: flex;
    flex-wrap: wrap;
    width: 570px;
    height: 570px;
    border: 5px solid #edfcdf;
    margin: 0 auto;
}

.grid div {
    width: 20px;
    height: 20px;
}

.pac-dot {
    background-color: black;
    border: 7px solid #edfcdf;
}

.wall {
    background-color: #93a384;
}

.power-pellet {
    background-color: #edfcdf;
    border: 2px solid black;
    border-radius: 1rem;
}

.ghost-lair{
    background-color: #1c343e;
}

.dave {
    background-color: crimson;
    border: 2px solid crimson;
    border-radius: 1rem;
}

.ddog {
    background-color: cyan;
    border: 2px solid cyan;
    border-radius: 1rem;
}

.scadog {
    background-color: darkmagenta;
    border: 2px solid darkmagenta;
    border-radius: 1rem;
}

.scads {
    background-color: darkorange;
    border: 2px solid darkorange;
    border-radius: 1rem;
}

.scared-ghosts {
    background-color: gray;
    border: 2px solid gray;
    border-radius: 1rem;
}

.pac-man {
    background-color: #000000;
    border: 2px solid black;
    border-radius: 1rem;
}