:root {
    --character-size: 3;
}
  
body {
    background: blue;
}
  
.character {
    position: relative;
    margin: 0 auto;
    width: calc(120px * var(--character-size));
    height: calc(120px * var(--character-size));
    image-rendering: pixelated;
    background-color: grey;
    overflow: hidden;
}
  
.sprite-sheet {
    position: absolute;
    animation: moveSpritesheet 0.6s steps(5) infinite;
    width: calc(770px * var(--character-size));
    height: calc(496px * var(--character-size));
}
  
@keyframes moveSpritesheet {
    from {
        transform: translate3d(0px,0,0)
    }
        to {
        transform: translate3d(-85%,0,0)
    }
}

.walk-up {
    top: calc(-124px * var(--character-size));
}
  
.walk-right {
    top: calc(-253px * var(--character-size));
}
  
.walk-down {
    top: calc(-382px * var(--character-size));
}
  
.walk-left {
    top: calc(5px * var(--character-size));
}