<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-93599017-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-93599017-2');
    </script>

    <script src="/resources/js/app.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" , initial-scale="1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Claire van Blerck</title>
    <link href="resources/css/index.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,500,700|Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/resources/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/resources/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/resources/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/resources/images/favicons/site.webmanifest">
</head>


<body>

    {{ content }}

    <footer>
        <section>
            <article>
                <h2 id="Contact">Get in touch :)</h2>
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/clairemayvanblerck/" target="_blank" rel="noopener" rel="noreferrer" alt="linkedin"><i class="fa fa-linkedin"></i></a>
                    <p class="email"><a href="mailto:claire.vanblerck@gmail.com">claire.vanblerck@gmail.com</a></p>
                    <a href="https://github.com/ClairevanBlerck" target="_blank" rel="noopener" rel="noreferrer" alt="github"><i class="fa fa-github"></i></a>
                </div>
            </article>
        </section>
    </footer>

</body>

</html>